
<div >

    <div class="contact-poster">
        <img src="../../../assets/images/contact.jpg">
    </div>
    
  
    <div class="contact-info">
    
        <img src="../../../assets/images/contact_logo.png">

        <div class="design">
          <mat-grid-list cols="2" rowHeight="300px">

            <mat-grid-tile > 
  
              <img id="contact-logo" src="../../../assets/images/phone.png"  data-aos="fade-down-right" data-aos-duration="1500" >
  
              <div class="phone" data-aos="flip-right"  data-aos-duration="1500" >
  
                <div class="card1"></div>
                
                <h2 >+91-7011686125</h2>
              </div>
             </mat-grid-tile>
  
             <mat-grid-tile > 
  
              <img id="contact-logo" src="../../../assets/images/instagram.png"  data-aos="fade-down-left" data-aos-duration="1500" >
  
              <div class="phone" data-aos="flip-left"  data-aos-duration="1500" >
  
                <div class="card2"></div>
                
                <h2 >yoInstagram@12</h2>
              </div>
             </mat-grid-tile>
      
              <mat-grid-tile  >
                <img id="contact-logo" src="../../../assets/images/facebook.png"  data-aos="fade-up-right" data-aos-duration="1500" >
  
              <div class="phone" data-aos="flip-right"  data-aos-duration="1500" >
  
                <div class="card2"></div>
                
                <h2 >yoFAcebook.com</h2>
              </div>
             </mat-grid-tile>
  
              <mat-grid-tile  >
               <img id="contact-logo" src="../../../assets/images/email.png"  data-aos="fade-up-left" data-aos-duration="1500" >
  
              <div class="phone" data-aos="flip-left"  data-aos-duration="1500" >
  
                <div class="card1"></div>
                
                <h2> vaibhavbisht63@gmail.com</h2>
              </div>
             </mat-grid-tile>
  
              </mat-grid-list>
        </div>
        
    </div>
</div>