<!-- <div class="container">
    <div class="card mt-2 mb-3 border-0">
        <div class="plywood card-body text-left p-2 m-3">

            <img src="../../../assets/img/Images/about.jpg" alt="" width="947" height="442" class="card-img-top"
                alt="...">
        </div>

        <div class="about-info">
            <br>
            <div class="logo">
                <img src="../../../assets/img/Images/ply_logo.png" alt="" width="9%">
            </div>
            <br>
            <p class="about-text">Originated in 2015 in the holy soil of Benaras, our company has been involved in the
                distribution of
                exemplary quality
                wood products across Eastern UP, India. We believe that our expertise drives our passion and our passion
                drives our work
                to success. <br><br> We prioritise our clients’ needs before anything and make sure we deliver more than
                we
                promise.

                The range of products that we engage with, includes high quality Boiling Water Proof(BWP) and Boiling
                Water
                Resistant(BWR)
                plywoods, blockboards and flush doors.</p>
        </div>
    </div>

</div> -->

<div class="">
    <div class="about-page">
        <div class="main-image">

            <img src="../../../assets/img/Images/about-us.jpg" class="img-fluid" alt="varanasi" width="100%">

        </div>
        <br>

    </div>

    <div class="about-info">
        <div class="logo-image">

            <img src="../../../assets/img/Images/ply_logo.png" alt="" width="9%">
        </div>
        <br>
        <div class="about-content">
            <p class="about-para">Originated in 2015 in the holy soil of Benaras, our company has been involved in the
                distribution of
                exemplary quality
                wood products across Eastern UP, India. We believe that our expertise drives our passion and our passion
                drives our work
                to success. <br><br> We prioritise our clients’ needs before anything and make sure we deliver more than
                we
                promise.

                The range of products that we engage with, includes high quality Boiling Water Proof(BWP) and Boiling
                Water
                Resistant(BWR)
                plywoods, blockboards and flush doors.</p>
        </div>

        <br><br>
    </div>

    <div>
        <mat-card class="workplace-image mx-auto d-block">

            <img mat-card-image src="../../../assets/img/Images/about.jpg" alt="varanasi">

        </mat-card>

    </div>



</div>