<div class="container " >
  <!-- <div class="row">
    <img src="assets/img/Images/img2.jpg" width="100%" height="250"  class="img-fluid mt-2 mx-auto" alt="Responsive image">
  </div> -->
  <!-- <p class="text-left">Left aligned text on all viewport sizes.</p> -->
  <!-- <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250"
          role="img" aria-label="Placeholder: Thumbnail"></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div> -->
  <div class="card mt-2 mb-3 border-0">
     <!-- <img src="assets/img/Images/img2.jpg"   class="img-fluid mt-2 mx-auto" alt="Responsive image"> -->

    <div class="card-body text-left p-2 m-3">
      <img src="assets/img/Images/img2.jpg" width="947" height="442" class="card-img-top" alt="...">

      <!-- <h4 class="card-title my-2 ">PLYWOOD</h4> -->
      <mat-card-title class="my-4">BlockBoard</mat-card-title>
      <p class="card-text text-muted h5 font-weight-light py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos nam, quibusdam deserunt exercitationem tempora, similique magni illum fugit, doloremque necessitatibus distinctio quod minima laborum eligendi eveniet est temporibus odio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit Odio recusandae hic sapiente quidem dolor sint vitae asperiores culpa nemo adipisci magnam voluptatum, aliquid reiciendis. Assumenda eum corporis eveniet optio soluta.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>

    <div class="row mx-1 mt-2">
      <!--using bootstrap
        <div class="col mb-4">
        <div class="card border-0">
          <img src="assets/img/Images/img3.jpeg" width="459" height="245" class="card-img-top" alt="wait">
          <div class="card-body">
            <h5 class="card-title my-2 h4 ">BWP</h5>
            <p class="card-text text-muted h5 font-weight-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia rem dolore eveniet minus sequi ipsa, quos vero commodi quidem maxime, cumque sunt dignissimos amet obcaecati a consequuntur! Sunt, numquam quod?
              </p>
          </div>
        </div>
      </div> -->


      <div class="col mb-4">
        <mat-card class="example-card">

          <img mat-card-image src="assets/img/Images/img3.jpeg" width="459" height="245" alt="Photo of a Shiba Inu">
          <mat-card-header>

            <mat-card-title>BWP</mat-card-title>
            <mat-card-subtitle>BlockBoard Type</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="card-text text-muted h5 font-weight-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia rem dolore eveniet minus sequi ipsa, quos vero commodi quidem maxime, cumque sunt dignissimos amet obcaecati a consequuntur! Sunt, numquam quod?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-raised-button color="accent" class=" btn mb-2" (click)="openDialog()">Details</button>

            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col mb-4">
      <mat-card class="example-card">

        <img mat-card-image src="assets/img/Images/img1.jpeg" width="459" height="245" alt="Photo of a Shiba Inu">
        <mat-card-header>

          <mat-card-title>BWR</mat-card-title>
          <mat-card-subtitle>BlockBoard Type</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="card-text text-muted h5 font-weight-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia rem dolore eveniet minus sequi ipsa, quos vero commodi quidem maxime, cumque sunt dignissimos amet obcaecati a consequuntur! Sunt, numquam quod?
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button  mat-raised-button color="accent" class=" btn mb-2" (click)="openDialog1()">Details</button>

          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- using bootstrap
      <div class="col mb-4">
      <div class="card border-0">
        <img src="assets/img/Images/img1.jpeg" width="459" height="245" class="card-img-top" alt="wait">
        <div class="card-body">
          <h5 class="card-title h4 my-2">BWR</h5>
          <p class="card-text text-muted h5 font-weight-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia rem dolore eveniet minus sequi ipsa, quos vero commodi quidem maxime, cumque sunt dignissimos amet obcaecati a consequuntur! Sunt, numquam quod?
          </p>
        </div>
      </div>
    </div>
  </div> -->

  </div>

</div>
