
<div class="footer">

    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile>
            <img   src="/assets/images/ply_logo.png">
        </mat-grid-tile>

        <mat-grid-tile>

            <div>
                <h1>CONTACT US</h1><br>
                <pre>  5870 NW 163rd St.
  Miami Lakes, FL 33014
  Phone: (305)722-6622
  Fax: (305)722-6623
                    
  @: info@usply.net</pre>
            </div>
            

        </mat-grid-tile>

        <mat-grid-tile>

            <div>
                <h1>ABOUT US </h1><br>
          <pre>
    History
    Core Values
    Mission
                </pre>
            </div>
        

        
        </mat-grid-tile>

        <mat-grid-tile>

             <pre>   Copyright ©2007-2017 USPLY.net.
   All Right Reserved.
   Terms & Conditions
                </pre>
        </mat-grid-tile>

        <mat-grid-tile>
         <div>
            <h1>FOLLOW US</h1><br>
            <button ><i class="fa fa-facebook-square" aria-hidden="true"></i></button>
            <button > <i class="fa fa-twitter-square" aria-hidden="true"></i></button>
            <button > <i class="fa fa-instagram" aria-hidden="true"></i></button>
            <button > <i class="fa fa-linkedin" aria-hidden="true"></i></button>
         </div>
            
        </mat-grid-tile>

        <mat-grid-tile>
            <h1>WHY Yugal?<br><br>
                PRODUCTS</h1>
            
        </mat-grid-tile>

      </mat-grid-list>


</div>