.footer{
    width:100%;
    padding:2% 10% 0 15%;
    background-color: rgba(0, 0, 0, 0.096);
   
}

 button {

    color: rgb(219, 153, 31);
    font-size: 25px;
     border: none;
     outline: none;
}

pre{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.534);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer img{
    
    height: 50%;
    width: 40%;
}

.row{
    width: 113%;
    
}


@media(max-width:1005px){
    .row{
        width: 100%;
        
    }
   }

   @media(max-width:767px){

    .footer img{
    
        height: 90%;
        width: 70%;
    }


    .footer{
        height: 180px;
        padding-top: 50px;
    }
    
   }

  

@media(max-width:576px){

    .col-lg-4{
       
        width: 50%;
    
       
    }
   
    .footer img{
    
        height: 80%;
        width: 90%;
    }

    h1{
      font-size: 20px;  
      margin-bottom: -15px;
    }
}