.footer{
    width:100%;
    padding:2% 10% 0 15%;
    background-color: rgba(0, 0, 0, 0.096);
}

 button {

    color: rgb(219, 153, 31);
    font-size: 25px;
     border: none;
     outline: none;
}

pre{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.534);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer img{
    
    height: 50%;
    width: 40%;
}

.row{
    width: 113%;
    
}


@media(max-width:1005px){
    .row{
        width: 130%;
        margin-left: -80px;
    }
   }

   @media(max-width:768px){

    .footer img{
    
        height: 60%;
        width: 40%;
    }


    .footer{
        height: 180px;
        padding-top: 50px;
    }
    
   }

   @media(max-width:576px){

    .col-lg-4{
        width: 200px;
        
    }
    .row{
        padding-left: 50px;
    }
    
    .footer img{
    
        height: 70%;
        width: 70%;
    }
}