.example-spacer {
    flex: 1 1 auto;
  }


  .nav-bar{
    margin-top: 0px;
    height: 100px;
    padding-top: 20px;
  
  }
  mat-toolbar{
    background-color: transparent; 
    width: 100%;
    
  }

 .menu-div button {
    background-color: transparent;
    border: none;
  }

  .menu-div a{

    color: white;
    text-decoration: none;
  
  }

  .menu-div a:hover{
    color: rgb(219, 153, 31);
    border: 2px solid rgb(219, 153, 31);
  }


  .contact-info{
    padding-left: 30%;
    

  }
  .contact-info button {
    color:rgb(219, 153, 31);
  
  }

  .contact_space a{
    margin-left: -30px;
  }
 

  .menu-div{
    /* background-color: yellow; */
    width: 40%;
    margin-right: 10%;

  }

  .logo-div{
    /* background-color: blue; */
    width: 50%;
    
    
  }

  .logo-div img{
    padding-left: 30%;
    height: 50%;
    width: 50%;
  }
  
  

 
  .menu-items a{

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


  

  @media(max-width:992px){
.hamburger mat-icon{

  font-size: 40px;
  color:rgb(243, 189, 11);

}

.hamburger button{
 
  height: 54px;
  width: 47px;
  outline: none;
  margin-left: 100px;
 

}

 .menu_item {

background-color: rgba(243, 189, 11, 0.568);
outline: none;


 }

 .menu_item:hover{

  background-color:rgba(243, 189, 11, 0.904) ;
 }

.logo-div img{
  width: 150px;
  height: 100px;
  padding-left: 0px;
  margin-left: 60px;

}



 }

 @media(max-width:768px){
  .hamburger{
      margin-left: 80px;
  }

  mat-toolbar{
    background-color: rgba(0, 0, 0, 0.44);
    height: 100%;
    /* margin-top: 0px; */
    /* padding-top: 20px; */
    padding-bottom: 25px;
  }


 }
  


