
<div class="nav-bar"> 
  <mat-toolbar>
    <div class="logo-div">
     
      <img src="/assets/images/ply_logo.png">
      
    </div>
    <span class="example-spacer"></span>
    <div class="menu-div">
      <div class="row contact-info">
        <button mat-stroked-button>CONTACT US</button>
        <button ><i class="fa fa-facebook-square" aria-hidden="true"></i></button>
        <button > <i class="fa fa-twitter-square" aria-hidden="true"></i></button>
        <button > <i class="fa fa-instagram" aria-hidden="true"></i></button>
        <button > <i class="fa fa-linkedin" aria-hidden="true"></i></button>
      </div>
      
      
        <div class="row menu-items">
          <div class="col-md-2">
            <div ngbDropdown class="d-inline-block">
              <button class="btn " id="dropdown" ngbDropdownToggle>ABOUT US</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-items">
                <button ngbDropdownItem>Action </button>
                <button ngbDropdownItem>Jackson</button>
                <button ngbDropdownItem>Something </button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button mat-stroked-button>Why yugal?</button>
          </div>
          <div class="col-md-2">
            <button mat-stroked-button>PRODUCTS</button>
          </div>
          <div class="col-md-2">
            <button mat-stroked-button>FAQ</button>
          </div>
       
         
         
      </div>
    </div>
    
    
  </mat-toolbar>
</div>
