

  <div class=" row  nav-bar " [ngStyle]="{'background-color':commune.switch ? ' rgba(0, 0, 0, 0.44)' : 'transparent' }"> 
    <mat-toolbar >
      <div class="logo-div  col-lg-6 col-xs-10 ">
       
        <a role="button" routerLink="home"><img src="/assets/images/ply_logo.png"></a>
        
      </div>
      <span class="example-spacer"></span>
      <div class="menu-div d-none d-lg-block col-lg-5 ">
        <div class="row contact-info">
          <div class="contact_space d-none d-lg-block  col-lg-4">
            <a   role="button"  routerLink="contact" >CONTACT US</a>
          </div>
          <div class="d-none d-lg-block col-lg-2 ">
            <button ><i class="fa fa-facebook-square  " aria-hidden="true"></i></button>
          </div>
          <div class="d-none d-lg-block col-lg-2">
                     
          <button > <i class="fa fa-twitter-square " aria-hidden="true"></i></button>
          </div>
          <div class="d-none d-lg-block col-lg-2">
            <button > <i class="fa fa-instagram" aria-hidden="true"></i></button>
          </div>
          <div class="d-none d-lg-block col-lg-2">
            <button > <i class="fa fa-linkedin " aria-hidden="true"></i></button>
          </div>

        </div>
        
        
          <div class="row menu-items" id="collapse_target">
            <div class=" d-none d-lg-block  col-lg-3"  >
              <a mat-button role="button" routerLink="#"   >ABOUT US</a>
            </div>
            <div class="d-none d-lg-block  col-lg-3">
              <a mat-button role="button" routerLink="#"   >Why yugal?</a>
            </div>
            <div class=" d-none d-lg-block  col-lg-3">
              <a mat-button role="button" routerLink="product"   >PRODUCTS</a>
            </div>
            <div class=" d-none d-lg-block  col-lg-3">
              <a mat-button role="button" routerLink="#"   >FAQ</a>
            </div>
        </div>  
      </div>
      
 <div class="hamburger d-lg-none col-xs-2 ">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu  class="d-lg-none" #menu="matMenu">
    <button class="menu_item"  mat-menu-item>ABOUT</button>
    <button class="menu_item" mat-menu-item>Why Yugal</button>
    <button class="menu_item" routerLink="product"  mat-menu-item>PRODUCTS</button>
    <button class="menu_item" routerLink="contact" mat-menu-item>CONTACT US</button>
    <button class="menu_item" mat-menu-item>FAQ</button>
  </mat-menu>
</div>
 </mat-toolbar>
</div>


  
