
 <div class="home" >
  <div class="slider">
    <ngb-carousel *ngIf="images" >


      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide">
        </div>
        <div class="carousel-caption">
          <h1>We manage our inventory </h1>
          <h3>So You dont have to</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>


  <div class="summary">


    <div class="content" id="product">

      <img src="../../../assets/images/ply_logo.png" >
      <p>We are a company that leads in the distribution of quality wood products across industries and households. Our reputation comes from the efforts that we put into satisfying the needs of all our clients. Our team ensures that our client relations remain superior to our competitors and works consistently at the business forefront to deliver quality, integrity and value to those who put their trust in us.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptates laboriosam tempore suscipit incidunt quisquam impedit voluptas? Repudiandae dolor id delectus vel asperiores illo, incidunt ea odit obcaecati ipsa in, iusto dolorum, ducimus iure similique nihil velit? Dolore tempora veniam nam. Nobis, ex perferendis quibusdam ad qui officia suscipit totam.</p>
    </div>

    <div class=" row products">

      <div class="col-md-4" data-aos="fade-right" data-aos-duration="1500">
        <a routerLink="/plywood" role="button" ><img src="../../../assets/images/first.jpg" >
          <h3>PlyWood</h3></a>
     </div>

     <div class="col-md-4 space" data-aos="fade-left" data-aos-duration="1500">
      <a routerLink="/blockboard"  role="button"><img src="../../../assets/images/third.jpg">
        <h3>BlockBoard</h3></a>
 </div>



    </div>

  </div>

  <div class="caption">

    <h2>MORE THAN JUST PLYWOOD, WE ARE A FULL-SERVICE MASTER DISTRIBUTOR THAT FREES YOU UP TO CONCENTRATE ON WHAT MATTERS MOST; YOUR BOTTOM-LINE AND YOUR REPUTATION</h2>
  </div>


 <div class="member">
   <div><p><span >DISTRIBUTORS.</span> Be a part of the evolution in the wood product industry. Build customer loyalty by offering a brand synonymous with quality and consistency in products while expanding your business without the cost. In-stock inventory availability with a great mix of plywood, MDF, and melamine products, allows shipment within 24-hours for in-stock items. And, since we carry a fully stocked warehouse, it saves you money, time and space.
   </p></div>

   <div><p><span >CABINET MAKERS/WOODWORKER:</span> Request our “white package”. Your product needs to match your craftsmanship. Don’t compromise. Use USply brand plywood and wood products that come with a promise of quality.
   </p></div>
 </div>

 <div class="belief">
   <div>

    <p>YES, WE HAVE. YES, WE SHIP TOMORROW. YES, WE CARE!<br>
     WHY COMPROMISE? ENSURE YOUR YES TO YOUR CLIENTS WITH A WOOD DISTRIBUTOR THAT<br> OFFERS YOU MORE THAN ONE YES</p>
     <button mat-stroked-button data-aos="fade-up"
     data-aos-duration="1500">Get In Touch</button>

   </div>


 </div>

</div>





<!-- <div class="promo" style="--overlay-color: hotpink">
  <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/></div>
  <h2 class="title" data-cta="Get out there →">Nightlife</h2>
</div>
<div class="promo" style="--overlay-color: yellow">
  <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1523806762236-1d3a6b7eb3fd?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/></div>
  <h2 class="title" data-cta="Find yours →">Quiet Time</h2>
</div>
<div class="promo" style="--overlay-color: dodgerblue">
  <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1548008116-bcfec1f4c812?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/></div>
  <h2 class="title" data-cta="Grab a board →">Surf's Up!</h2>
</div>
<div class="promo" style="--overlay-color: darkgreen">
  <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1569335048491-5fb94951e885?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/></div>
  <h2 class="title" data-cta="Take a walk →">Day Hikes</h2>
</div>

 -->
