<div  class="card mb-3"  data-aos="zoom-in" >
  <img src="assets/img/Images/img3.jpeg"  tabindex="1" width="947" height="442" class="card-img-top" alt="...">
  <div class="card-body" tabindex="2">
    <mat-card-title>BWP</mat-card-title>
    <!-- <h5 class="card-title">Card title</h5> -->
    <p class="card-text">
          {{bwrDetails.details}}
    </p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

    <table class="table table-borderless" >
      <thead>

      </thead>
      <tbody>
        <tr>
          <th scope="row"  >Highlights:</th>
          <td >
            <ul *ngFor="let highlights of bwrDetails.highlight">
              <li>{{highlights}}</li>
            </ul></td>

        </tr>
        <tr >
          <th scope="row" >Size:</th>
          <td>{{bwrDetails.size}}</td>
        </tr>
        <tr >
          <th scope="row" >Thickness:</th>
          <td>{{bwrDetails.thickness}}</td>
        </tr>
        <tr >
          <th scope="row" >Applications:</th>
          <td>{{bwrDetails.applications}}</td>
        </tr>
        <tr >
          <th scope="row" ><button mat-raised-button class="btn btn-success btn-sm mt-2">Contact Us</button></th>

        </tr>
      </tbody>

    </table>
    <!-- <button mat-raised-button class="btn btn-success btn-sm mt-2">Contact Us</button> -->
  </div>
  <!-- <button mat-raised-button class="btn btn-success btn-sm mt-2">Contact Us</button> -->

</div>
