<div class="card mb-3">
  <img src="assets/img/Images/img1.jpeg" width="947" height="442" class="card-img-top" alt="...">
  <div class="card-body">
    <mat-card-title>BWR</mat-card-title>
    <!-- <h5 class="card-title">Card title</h5> -->
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam adipisci animi deserunt illum consequuntur odit molestias ipsa, velit repudiandae deleniti alias rem et sint commodi totam nobis laudantium dignissimos iure.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias nihil quo ipsa doloribus suscipit adipisci laborum eum tenetur quaerat quibusdam. Fugiat eveniet facilis iste quibusdam veniam hic harum. Dolorem, nemo.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, fugiat! Maxime, dolor. Eius similique quod odio cum, iure, sit corporis fugiat illo quas aperiam, tenetur possimus nobis dicta vitae. Cum?
    </p>
    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

    <table class="table table-bordered">
      <thead>

      </thead>
      <tbody>
        <tr>
          <th scope="row">Quantity Avail.</th>
          <td>100</td>

        </tr>
        <tr>
          <th scope="row">Price Per Quintal</th>
          <td>5000</td>
        </tr>
        <tr>
          <th scope="row">Price Per Unit</th>
          <td>100</td>

        </tr>
      </tbody>
    </table>
    <button mat-raised-button class="btn btn-success btn-sm mt-2" routerLink="contact">Contact Us</button>
  </div>
  <!-- <button mat-raised-button class="btn btn-success btn-sm mt-2">Contact Us</button> -->

</div>


