<br><br><br><br><br><br><br><br>
<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">

            <img src="../../../assets/img/Images/flushdoor5.jpg" alt="" width="100%">

        </div>

    </div>

    <div class="page-heading">
        <p>"FlushDoors"</p>
    </div>

    <br>

    <div class="main-content">

        <div class="main-row row">

            <div class="description col-sm-12 col-md-6 col-lg-7">

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque expedita, ullam doloremque quisquam
                    enim consectetur vitae, ipsum quo necessitatibus illum recusandae obcaecati dolor impedit quae
                    exercitationem fugiat incidunt culpa error!</p>
                <br>
                <p class="caption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere fuga dicta nisi
                    minus non tempore officia ipsam dolorem totam soluta repudiandae repellat, reprehenderit quis! Sit
                    voluptatibus dolore nisi provident laudantium.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptas eum corporis quis! Facere
                    tempore ratione, officiis temporibus corrupti, quas recusandae dolorem, ipsa velit tempora nam
                </p>


            </div>

            <div class="desc-image col-sm-12 col-md-6 col-lg-5">

                <img src="../../../assets/img/Images/flushdoor4.png" alt="" height="500rem" width="444rem">

            </div>

        </div>
        <br><br>

        <div class="product-description">

            <div class="row">

                <div class="product-image col-sm-1 col-md-3 col-lg-2">

                    <img src="../../../assets/img/Images/flushdoor1.jpg" alt="" height="400px">

                </div>
                <div class="product-image col-sm-1 col-md-3 col-lg-2">

                    <img src="../../../assets/img/Images/flushdoor1.jpg" alt="" height="400px">

                </div>

                <div class="product-image col-sm-1 col-md-3 col-lg-2">

                    <img src="../../../assets/img/Images/flushdoor1.jpg" alt="" height="400px">

                </div>

            </div>
        </div>

    </div>







</div>